<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "PrivacyPolicy",
    "name": "Política de Privacidad de BPP Analytics & Design",
    "description": "Información sobre cómo BPP Analytics & Design recopila, utiliza y protege los datos personales cuando las personas se ponen en contacto a través del sitio web.",
    "inLanguage": "es-AR",
    "url": "https://www.bppanalyticsanddesign.com/privacidad.html",
    "publisher": {
      "@type": "Organization",
      "name": "BPP Analytics & Design",
      "url": "https://www.bppanalyticsanddesign.com/"
    }
  }
  
</script>
